<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="arch.cayenne.module.home.ui.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
    </application>
    <meta-data
        android:name="com.walisport.module_home.HomeModuleInitializer"
        android:value="androidx.startup" />
</manifest>