<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false">

            <intent-filter>
                <action android:name="walisport.intent.action.login_activity" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="walisport"
                    android:host="login_activity" />
            </intent-filter>
        </activity>


    </application>

</manifest>