<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content1</key>
	<string>1-大、2-小、3-单、4-双、5-4点、6-5点、7-6点、8-7点、9-8点、10-9点、11-10点、12-11点、13-12点</string>
	<key>content2</key>
	<string>14-13点、15-14点、16-15点、17-16点、18-17点、19-单骰1、20-单骰2、21-单骰3、22-单骰4、23-单骰5、24-单骰6</string>
	<key>content3</key>
	<string>25-对子1、26-对子2、27-对子3、28-对子4、29-对子5、30-对子6</string>
	<key>content4</key>
	<string>31-豹子1、32-豹子2、33-豹子3、34-豹子4、35-豹子5、36-豹子6、37-豹子（全）</string>
	<key>Odds</key>
	<dict>
		<key>1</key>
		<string>1.99</string>
		<key>2</key>
		<string>1.99</string>
		<key>3</key>
		<string>1.99</string>
		<key>4</key>
		<string>1.99</string>
		<key>5</key>
		<string>63</string>
		<key>6</key>
		<string>32</string>
		<key>7</key>
		<string>19.5</string>
		<key>8</key>
		<string>13</string>
		<key>9</key>
		<string>9.5</string>
		<key>10</key>
		<string>8</string>
		<key>11</key>
		<string>7.5</string>
		<key>12</key>
		<string>7.5</string>
		<key>13</key>
		<string>8</string>
		<key>14</key>
		<string>9.5</string>
		<key>15</key>
		<string>13</string>
		<key>16</key>
		<string>19.5</string>
		<key>17</key>
		<string>32</string>
		<key>18</key>
		<string>63</string>
		<key>19</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>20</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>21</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>22</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>23</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>24</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
		<key>25</key>
		<string>12</string>
		<key>26</key>
		<string>12</string>
		<key>27</key>
		<string>12</string>
		<key>28</key>
		<string>12</string>
		<key>29</key>
		<string>12</string>
		<key>30</key>
		<string>12</string>
		<key>31</key>
		<string>180</string>
		<key>32</key>
		<string>180</string>
		<key>33</key>
		<string>180</string>
		<key>34</key>
		<string>180</string>
		<key>35</key>
		<string>180</string>
		<key>36</key>
		<string>180</string>
		<key>37</key>
		<string>32</string>
	</dict>
</dict>
</plist>
