<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xcjh.base_lib2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!--
                 1.  name 为 CustomInitializer 的全路径，或者相对于资源文件的路径
                 2.  value 为固定的 androidx.startup，用于提取 CustomInitializer 的路径
            -->
            <meta-data
                android:name="com.xcjh.base_lib2.ModuleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.cn.game.sdk2.ModuleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>